#size{
    background-color: aqua;
}
#weight{
    background-color: cadetblue;
}
ul{
    color:crimson;
    text-align: center;
    font-weight: 400;
}
h1:hover{
    background-color: darkblue;
}
p{
    color:darkorchid;
    font-style: italic;
    text-transform: capitalize;
}